<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/homest.css">
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="db">

        <div id="animation-container">   </div>
    </div>

    <%- include('./partials/script') %>

</body>
</html>